@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Music Store</h1>
    <img src="~/Images/home-showcase.png" />
</div>

<div ng-app="MusicStore">
    <div ng-view></div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}