@{
    ViewBag.Title = "Home Page";
    ViewBag.ngApp = "MusicStore";
}

@section NavBarItems {

<li genre-menu></li>

}

<div ng-view></div>

@Html.InlineData("GenreMenuList", "GenresApiMvc")
@Html.InlineData("~/api/albums/mostPopular", (object)ViewBag.MostPopularAlbums)

@section Scripts {

<script src="~/js/angular.js"></script>
<script src="~/js/angular-route.js"></script>
@* TODO: This is currently all the compiled TypeScript, non-minified. Need to explore options
    for alternate loading schemes, e.g. AMD loader of individual modules, min vs. non-min, etc. *@
<script src="~/js/site.js"></script>

}